//font-family
$ff-primary: 'Montserrat', sans-serif;
$ff-secondary: 'SF UI Display', sans-serif;
$ff-tertiary: 'SF UI Text', sans-serif;

//font-weight
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

//font-size
$fs-xlg: 3.75rem;
$fs-lg: 2.5rem; 
$fs-xmed: 1.75rem;
$fs-med: 1.375rem; 
$fs-sm: 1rem; 
$fs-xsm: 0.938rem;
$fs-xxsm: 0.75rem; 

//colors
$clr-black: hsl(0, 0%, 0%);
$clr-white: hsl(0, 0%, 100%);
$clr-light-blue: hsl(211, 100%, 50%);
$clr-dark-blue: hsl(210, 92%, 24%);
$clr-green: hsl(188, 100%, 35%);
$clr-yellow: hsl(53, 98%, 47%);
$clr-orange: hsl(39, 100%, 50%);
$clr-red: hsl(0, 100%, 50%);
$clr-dark-red: hsl(344, 100%, 37%);
$clr-wine: hsl(348, 100%, 32%);